/* Catalog */

.catalog {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
}

.catalog-filters {
    width: calc(36% - 50px);
    border: 1px solid #c3c3c3;
    
    .drop-wrapper {
        &.active {
            > .drop-container {
                display: block;
            }
            
            > .filters-button {
                .decor-elem {
                    &::before {
                        content: "-";
                    }
                }
            }
            
            > .text-button {
                .icon-drop-arrow {
                    transform: rotate(0deg);
                }
            }
        }
    }
    
    .drop-container {
        display: none;
    }
}

.catalog-filters__item {
    margin-bottom: 2px;
    
    &:last-child {
        margin-bottom: 0px;
    }
    
    .filters-button {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        line-height: initial;
        font-weight: 500;
        text-transform: uppercase;
        color: #000000;
        text-align: left;
        padding: 16px 10px 14px 20px;
        background-color: #f7a707;
        transition: opacity .3s;
        
        .decor-elem {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            width: 16px;
            height: 16px;
            color: #f7a707;
            margin-left: 20px;
            border-radius: 2px;
            background-color: #ffffff;
            
            &::before {
                content: "+";
            }
        }
        
        @media (hover:hover) {
            &:hover {
                opacity: .8;
            }
        }
    }
}

.filters-first-step__item {
    .filters-button {
        font-size: 14px;
        background-color: #f3f3f3;
        
        .decor-elem {
            color: #ffffff;
            background-color: #c3c3c3;
        }
    }
}

.filters-second-step__item {
    margin: 0px 10px;
    
    .text-button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        font-size: 14px;
        font-weight: 500;
        color: #000000;
        padding: 14px 0px 15px 10px;
        border-bottom: 1px solid #e4e4e4;
        transition: opacity .3s;
        
        .icon-drop-arrow {
            font-size: 8px;
            color: #c3c3c3;
            transform: rotate(90deg);
            transition: transform .3s;
        }
        
        @media (hover:hover) {
            &:hover {
                opacity: .8;
            }
        }
    }
}

.filters-third-step__list {
    margin-top: 15px;
    border-bottom: 1px solid #e4e4e4;
}

.filters-third-step__item {
    font-size: 14px;
    margin-bottom: 20px;
    padding: 0px 10px;
    
    .link {
        @media (hover:hover) {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.catalog-content {
    width: calc(64% - 50px);
}

.catalog-company__list {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.catalog-company__item {
    margin-right: 55px;
    
    &:last-child {
        margin-right: 0px;
    }
}

.catalog-company__link {
    display: flex;
    position: relative;
    max-width: 130px;
    
    &.active {
        pointer-events: none;
        
        &::before {
            content: "";
            position: absolute;
            left: 0px;
            bottom: -15px;
            width: 100%;
            height: 4px;
            background-color: #f7a707;
        }
    }
}

.catalog__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -20px -40px 0px;
}

.catalog__item {
    width: calc(33.333% - 20px);
    margin: 0px 20px 40px 0px;
    font-size: 14px;
    color: #000000;
    position: relative;
    
    @media (hover:hover) {
        &:hover {
            .link {
                opacity: 1;
            }
        }
    }
    
    .link {
        position: absolute;
        left: -10px;
        top: -10px;
        width: calc(100% + 20px);
        height: calc(100% + 20px);
        box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.22);
        opacity: 0;
        transition: opacity .3s;
    }
    
    .img-block {
        padding: 10px;
        width: 100%;
        height: 220px;
        border: 1px solid #e4e4e4;
        margin-bottom: 15px;
        
        img {
            object-fit: contain;
        }
    }
    
    .caption {
        font-weight: 500;
        margin-bottom: 15px;
    }
    
    .category__list {
        border-top: 1px solid #f1f1f1;
    }
    
    .category__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 7px 0px;
        border-bottom: 1px solid #f1f1f1;
        
        .decor {
            display: flex;
            justify-content: flex-end;
            width: 35px;
        }
        
        .text {
            width: 110px;
            text-align: left;
            margin-left: 15px;
        }
    }
}

.catalog-text {
    font-size: 14px;
    max-height: 215px;
    padding-right: 20px;
    margin-top: 50px;
    overflow: auto;
    scrollbar-color: #f7a707 #dedede;
    scrollbar-width: thin;
    
    &::-webkit-scrollbar {
        width: 5px;
        background-color: #dedede;
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: #f7a707;
        
        @media (hover:hover) {
            &:hover {
                background-color: rgba(#f7a707, .7);
            }
        }
    }
}


/* //Catalog */

